* {
   margin: 0; 
   padding: 0;
   font-style: normal;
}

body {
    width: 1200px;
    margin: auto;
    background-color: #F5F5F5;
}
.form {
    color: #FFFFFF;
}
.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;

    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
    padding: 12px 116px 20px 16px;
}
.img {
    background-image: url(./image/arrow-up.svg);
    
}